.tempData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid 1px red;
  padding: 20px;
}

.temperature {
  text-align: left;
}

meter {
  transform: rotate(-90deg);
  /* -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg); */
  height: 50px;
  width: 200px;
}
